@font-face {
  font-family: "mladja";
  src: url("../fonts/mladja.TTF");
}

@font-face {
  font-family: "BebBold";
  src: url("../fonts/BebBold.otf");
}

@font-face {
  font-family: "BebBook";
  src: url("../fonts/BebBook.otf");
}

@font-face {
  font-family: "BebLight";
  src: url("../fonts/BebLight.otf");
}

@font-face {
  font-family: "BebRegular";
  src: url("../fonts/BebRegular.otf");
}

.noselect {
  -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Chrome/Safari/Opera */
     -khtml-user-select: none !important; /* Konqueror */
       -moz-user-select: none !important; /* Firefox */
        -ms-user-select: none !important; /* Internet Explorer/Edge */
            user-select: none !important; /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
	margin: 0;
	padding: 0;
    width: 100%;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 100%;*/
    /*background-image: url(https://www.dropbox.com/s/x3tbkyyavl8lm5r/bannerBg.jpg?raw=1);*/
    background-image: url("../img/bannerBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.header-top {
    display: flex;
    background: rgba(165, 42, 42, 0);
    height: 80px;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
}

.top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(50% - 160px);
    padding-right: 40px;
}

.white-line {
	height: 1px;
    background: white;
    width: 100%;
}

.left1 {
    flex-direction: row-reverse;
    display: flex;
    width: 100%;
    font-family: Raleway;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2;
}

.left-wrapper {
	display: flex;
	cursor: pointer;
}

.left1 div, .left1 span {
	margin-left: 10px;
}

.left-wrapper div:hover {
	color: yellow;
}

.left1 span {
	line-height: 0.7;
}

.left2 {

}

.Left3 {

}

.top-center {
	/*background-image: url(https://www.dropbox.com/s/i25yvbej4t8q0qc/logofull.png?raw=1);*/
    background-image: url("../img/logofull.png");
    width: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(50% - 160px);
    padding-left: 40px;
}

.right1 {
	display: flex;
    font-family: Raleway;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2;
    cursor: pointer;
}

.right1 span {
	padding-left: 4px;
    padding-right: 4px;
}

.right1 div:hover {
	color: yellow;
}

.country-select select {
	width: 150px;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-right: 5px;
    color: white;
    outline: none;
    /* display: flex; */
    /* position: absolute; */
    /*background-image: url(https://www.dropbox.com/s/qyalqdalenc2sac/usaFlag.png?raw=1);*/
    background-image: url("../img/usaFlag.png");
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

select option {
	background: rgb(22, 86, 148);
    color: white;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.bottom1 {
    font-family: "mladja";
    font-size: 45px;
    color: #eee727;
    margin-bottom: 40px;
}

.bottom1 span {
    color: white !important;
}

.banner-area {
    position: relative;
    /* display: flex; */
    width: 100%;
    height: 40vh;
    background: rgba(255, 255, 255, 0.00);
}

.field-noshaddow {
    position: absolute;
    z-index: 5;
    background-image: url("../img/fieldNoShadow.png");
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: contain;

    animation-name: field-up;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.field-shaddow {
    position: absolute;
    z-index: 3;
    background-image: url("../img/fieldShadow.png");
    background-repeat: no-repeat;
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: contain;
    filter: blur(0px);

    animation-name: field-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes field-up {
    0% {
        background-position: 50% 0px;;
    }
    100% {
        background-position: 50% -20px;;
    }
}

@keyframes field-down {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(25px);
    }
}

.bottom3 {
    font-family: Raleway;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.top-bar {
display: flex;
    border-top: 1px solid #3687c1;
    border-bottom: 1px solid #3687c1;
    padding-top: 3px;
    padding-bottom: 10px;
    font-family: "mladja";
    font-size: 45px;
    color: #eee727;
    width: 100%;
    justify-content: center;
    background: #276398;
    background: -moz-linear-gradient(top, #276398 0%, #205584 100%);
    background: -webkit-linear-gradient(top, #276398 0%,#205584 100%);
    background: linear-gradient(to bottom, #276398 0%,#205584 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#276398', endColorstr='#205584',GradientType=0 );
}

.main-content-bg {
    background: #1971b6;
    background: -moz-linear-gradient(top, #1971b6 0%, #11518d 100%);
    background: -webkit-linear-gradient(top, #1971b6 0%,#11518d 100%);
    background: linear-gradient(to bottom, #1971b6 0%,#11518d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1971b6', endColorstr='#11518d',GradientType=0 );
}


.leagues-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.leage {
    display: flex;
    flex-direction: column;
    width: 600px;
    background: #5a5a5a;
}

.first-leage {
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}

.last-leage {
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}

.leage-title {
    display: flex;
    background: #24272c;
    justify-content: center;
    padding-bottom: 9px;
    padding-top: 5px;
    padding-right: 35px;
}

.abrevation {
    font-family: "Raleway";
    position: relative;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.7;
    color: #eee727;
    margin-right: auto;
    margin-left: 12px;
}

.abrevation:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    right: -9px;
    top: 10px;
    background: #eee727;
}

.leage-name {
    font-family: "mladja";
    font-size: 38px;
    margin-right: auto;
    color: #eee727;
}

.leage-list {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leage-indi {
    color: rgba(63, 66, 71, 0.52);
    text-transform: uppercase;
    font-size: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    border-top: 1px solid white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "BebRegular";
    letter-spacing: 0.7;
    cursor: pointer;
}

.leage-indi:hover {
    background: white;
}



.footer {
    display: flex;
}

.footer-wrapper {
    background: #24272c;
    display: flex;
    flex-direction: column;
}