<html lang="en" ng-app="JuegoWebsite">
<head>
    <title>JuegoFut - Mladja</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="keywords" content="JuegoFut, soccer, hispanic, amateur, leagues"/>
    <meta name="description" content="List of hispanic amteur leagues" />
    <meta name="author" content="Mladja">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-controller="JuegoController">

<div class="body-wrapper">
    <div class="header">
        <div class="header-top">
            <div class="top-left">
                <div class="left1">
                    <div class="left-wrapper">
                    <div>Home</div>
                    <span class="noselect">.</span>
                    <div>Leagues</div>
                    <span class="noselect">.</span>
                    <div>Contact</div>
                    </div>
                </div>
                <div class="left2 white-line"></div>
                <div class="left3">
                    <div class="icons-area">
                        <a href="">
                            <img src="../img/icon1.svg">
                            <img src="../img/icon1y.svg">
                        </a>
                        <span>.</span>
                        <a href="">
                            <img src="../img/icon2.svg">
                            <img src="../img/icon2y.svg">
                        </a>
                        <span>.</span>
                        <a href="">
                            <img src="../img/icon3.svg">
                            <img src="../img/icon3y.svg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="top-center"></div>
            <div class="top-right">
                <div class="right1">
                    <div>ENGLISH</div>
                    <span class="noselect">/</span>
                    <div>Español</div>
                </div>
                <div class="right2 white-line"></div>
                <div class=" righ3">
                    <div class="country-select">
                        <select name="countries">
                          <option value="USA">USA</option>
                          <option value="Mexico">Mexico</option>
                        </select>
                    </div>
                    <div class="search-area"></div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="bottom1">providing support to <span>Hispanic </span>soccer leagues</div>
            <div class="banner-area">
                <div class="field-noshaddow"></div>
                <div class="field-shaddow"></div>
            </div>
            <div class="bottom3">Through soccer, we bring our communities closer together!</div>
        </div>
    </div>
    <div class="main-content">
        <div class="top-bar">LEAGUES</div>
        <div class="main-content-bg">
            <div class="leagues-wrapper">
                <div class="leage first-leage">
                    <div class="leage-title">
                        <div class="abrevation">{{arizona[0].abrevation}}</div>
                        <div class="leage-name">{{arizona[0].leagueName}}</div>
                    </div>
                    <div class="leage-list">
                        <div ng-repeat="league in arizona" ng-if="$index > 0" class="leage-indi">{{league.name}}</div>
                    </div>
                    
                </div>
                <div class="leage">
                    <div class="leage-title">
                        <div class="abrevation">{{arkansas[0].abrevation}}</div>
                        <div class="leage-name">{{arkansas[0].leagueName}}</div>
                    </div>
                    <div class="leage-list">
                        <div ng-repeat="league in arkansas" ng-if="$index > 0" class="leage-indi">{{league.name}}</div>
                    </div>
                    
                </div>
                <div class="leage">
                    <div class="leage-title">
                        <div class="abrevation">{{california[0].abrevation}}</div>
                        <div class="leage-name">{{california[0].leagueName}}</div>
                    </div>
                    <div class="leage-list">
                        <div ng-repeat="league in california" ng-if="$index > 0" class="leage-indi">{{league.name}}</div>
                    </div>
                    
                </div>
                <div class="leage last-leage">
                    <div class="leage-title">
                        <div class="abrevation">{{delaware[0].abrevation}}</div>
                        <div class="leage-name">{{delaware[0].leagueName}}</div>
                    </div>
                    <div class="leage-list">
                        <div ng-repeat="league in delaware" ng-if="$index > 0" class="leage-indi">{{league.name}}</div>
                    </div>
                    
                </div>
                <div class="contact-button">
                    <span>Your league not in the list?</span>
                    <button>CONTACT US</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-top-border"></div>
        <div class="footer-wrapper">

            <div class="footer-elements">
                <div class="foo1">
                    <div>HOME</div>
                    <div class="yellow-line"></div>
                    <div>ABOUT</div>
                </div>
                <div class="foo2">
                    <div class="logoBW">
                        <img src="/img/logoBW.png">
                    </div>
                </div>
                <div class="foo3">
                    <div>
                        <div class="icons-area">
                            <a href="">
                                <img src="../img/icon1.svg">
                                <img src="../img/icon1y.svg">
                            </a>
                            <span>.</span>
                            <a href="">
                                <img src="../img/icon2.svg">
                                <img src="../img/icon2y.svg">
                            </a>
                            <span>.</span>
                            <a href="">
                                <img src="../img/icon3.svg">
                                <img src="../img/icon3y.svg">
                            </a>
                        </div>
                    </div>
                    <div class="yellow-line"></div>
                    <div>CONTACT</div>
                </div>
            </div>
            <div class="all-rights">©2016 JUEGOFUT, INC. ALL RIGHTS RESERVED.</div>
        </div>
    </div>
</div>


</body>
</html>